<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="xyz.sheyar" version="0.7.0">

  <name>Voice-command</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/voice-command.js" target="js/voice-command.js"/>

  <js-module src="www/voice-command.js" name="voice-command">
    <clobbers target="voicecommand" />
  </js-module>

  <!-- android configuration -->

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="VoiceCommand">
        <param name="android-package" value="xyz.sheyar.plugin.VoiceCommand"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application/">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="xyz.sheyar.plugin.VoiceActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:windowSoftInputMode="adjustResize">
          <intent-filter>
              <action android:name="android.intent.action.SET_ALARM" />
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
          <intent-filter>
               <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
      </activity>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/VoiceCommand.java" target-dir="src/xyz/sheyar/plugin"/>
    <source-file src="src/android/VoiceActivity.java" target-dir="src/xyz/sheyar/plugin"/>
    <source-file src="src/android/VoiceAction.java" target-dir="src/xyz/sheyar/plugin"/>
    <source-file src="src/android/SetalarmVoiceEvent.java" target-dir="src/xyz/sheyar/plugin"/>
    <source-file src="src/android/VoiceActionFactory.java" target-dir="src/xyz/sheyar/plugin"/>
  </platform>

</plugin>
